//   Definicion de colores de toda la app
$meliYellow2: #FFF600;
$meliYellow :#fae307;
$meliDarkGray: #333333;
$meliGray: #666666;
$meliMediumGray: #999999;
$meliLightGray: #eeeeee;
$meliBlue: #3483fa;
$meliGreen: #00a650;
