$imgcancel: url("../../images/cancel.png");
$imgdanger: url("../../images/danger.png");
$imgmelibanner: url("../../images/meli-banner.png");
$logomeli: url("../../images/meli-logo.png");
$imgsearch: url("../../images/search.png");
$imgtruck: url("../../images/truck.png");
